@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

*{
    margin:0;
}

.verif{
    color:black;
}
.unverif{
    text-decoration: none;
    color:black;
}
.main-inst{
    font-family: 'Poppins',sans-serif;
    padding-top: 59.5px;
  
}

.inst-title{
    display:flex;
    padding :5px 10px;
    background-color: rgb(206, 208, 210);
}

.inst-title span{
    padding-left: 60px;
    cursor:pointer;
    color:black;

    
    
}
.overview{
    
    margin-left: 5%;
    
}
.inst-display{
    display:flex;
    padding:4% 5% 2.5%;
    
}

.inst-name{
    width:80%;
}
.inst-img{
    border-radius: 50%;
   margin:0 auto;
   
}
.inst-display .img-sec{
padding-left: 40px;
    width:15%;
   
    
   

}
.inst-name{
    padding-top: 40px;
  
    
}
.inst-foll{
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 400;
}
.inst-foll2{
    display:flex;
    gap:1.5em;
}
.sub-fl{
    font-size: 0.9rem;
}

.sub-fl span {
padding-right: 0.3em;
font-weight: 600;
}

.inst-hr{
    width:80%;
    margin:0 auto;
}

.inst-publish{
    padding: 30px 10% 20px;
    
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -0.04rem;

   
}

.hd-publish{
    padding-top:5px;
    padding-bottom: 10px;
}
.hd-publish h2{
   font-weight: 600;
}
.projs-sec{
    padding: 0 2%;
    
}
.proj-sub{
    margin-bottom: 3em;
}