/* styles/LoginForm.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

*{
    margin:0;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
font-family: 'Poppins',sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }

.p1-login{
    padding-top: 20px;
}

  .instlg-main{
    padding-top: 100px;
    padding-bottom: 30px;
  }
  
  .login-form h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 500;

    padding-bottom: 15px;
    letter-spacing: -0.05rem;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group
  input[type="text"],
  input[type="username"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4073a9;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #78a5d5;
  }

  .sg-direct{
    text-decoration: underline;
    color: #5f9ada;
  }
  