.logingrandparent{
    padding-top: 6em;
    margin-bottom: 3em;
}
.formdiv{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #b8b8bd;
    padding: 2em;
    width: 22%;
    border-radius: 10px;
    flex-direction: column;
}
.formheading{
    display: flex;
   
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 0.5em;
}
.formelemet{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbuttondiv{
    display: flex;
    
    margin-top: 1em ;
}
.username{
    width: 300px;
    height: 2em;
    margin-bottom: 10px;
}
.password{
    width: 300px;
    height: 2em;
}
.loginbutton{
    padding: 0.8em;
    width: 8em;
    border-radius: 20px;
    background-color: aqua;
    border: 0px;
}
.createacc{
    display: inline;
    color: rgb(6, 103, 201);
}
.donthaveacc{
    font-size: 14px;
    margin-top: 1em;
}