
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');
  .btn {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05rem;
    padding:10px;
    color:#000000A6;
    border-radius: 10px;
    background-color: #cfc9c9;
    font-size: 14px;
    border:none;
    cursor: pointer;
    
  }
