@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');


*{
    margin:0;
}

.inst-title{
    display:flex;
    padding :5px 10px;
    background-color: rgb(206, 208, 210);
}

.inst-title span{
    padding-left: 60px;
    cursor:pointer;
    color:black;

    
    
}
.overview{
    
    margin-left: 5%;
    
}
.verif{
    color:black;
}
.unverif{
    text-decoration: none;
    color:black;
}
.main-user{
    font-family: 'Poppins',sans-serif;
    padding-top:59.5px;

}

.sub-user{
    display:flex;
    padding:3% 10%;
    
}

.projs-sec-user{
    width:85%;
}

.user-publish{
    padding: 0px 8% 20px;
    
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -0.04rem;

   
}

.user-hd-publish{
    padding-top:5px;
    padding-bottom: 10px;
}
.user-hd-publish h2{
   font-weight: 600;
}
.proj-sub-user{
    margin-bottom: 3em;
}


.user-name{
    width:100%;
}
.user-img{
    border-radius: 50%;
    

   
}
.user-display{
    width:15%;
    padding-top: 10px;
   
}

.deg1{
    margin-bottom: 5px;
}
.deg2{
    margin-bottom: 5px;
}

.deg-desc{
    line-height: 1.2;
    margin-bottom: 5px;
}


.user-foll{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.05rem;
}
.user-foll2{
    display:flex;
    flex-direction: column;
    gap:0em;
    font-size: 0.85rem;
}
.main-sub-fl{
    display: flex;
    gap:1em;
}

.sub-fl{
    font-size: 0.75rem;
    
}

.sub-fl span {
padding-right: 0.2em;
font-weight: 600;
}
